body{
    font-family: "Microsoft YaHei", "微软雅黑", "PingFang SC", serif
}

.clearfix {
    *zoom: 1; }

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
a {
    text-decoration: none;
    color:#666;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
    margin:0;padding:0;
}
.clearfix:after {
    clear: both;
}

.wrapper{
    margin:0 auto;
    min-width: 1200px;
    max-width: 1920px;
    overflow: hidden;
}
.container{
    width:1200px;
    margin:0 auto;
    position:relative;
}
