@mixin p-absolute{
    position: absolute;
}
body{
    a{
        text-decoration: none;
        color:#333;
    }
    color:#333;
    p,h3{
        margin:0;
    }

}

.top{
    height:315px;
    background: url(../images/list-bg.jpg) left top no-repeat;
    width:100%;

    .icon{
        @include p-absolute;
        top:8px;
        left:48px;
        width:88px;
        height:88px;
        img{
            width:100%;
        }

    }

    .logo{
        @include p-absolute;
        width:324px;
        height:139px;
        left:48px;
        top:76px;
        a{
            display: block;
            img{
                width:100%;
            }
        }

    }
}

.list-tit{
    width:100%;
    height:160px;
    background: url(../images/list-tit.png) 50% 50% no-repeat;
}
.list-nav{
    text-align: center;
    >a{
        display: inline-block;
        padding:0 32px 23px;
        font-weight: 700;
        font-size:20px;
        color:#b88b62;
        position: relative;
        &:after{
            content: "/";
            position: absolute;
            top:0;
            right: 0;
            width:10px;
            color:#b88b62;
        }
        &.active,&:hover{
            color:#372710;
            &:before{
                content: "";
                position: absolute;
                bottom:0;
                left: 50%;
                width:0;
                height:0;
                border: 9px solid transparent;
                border-bottom-color:#b88b62;
                margin-left:-9px;
            }
        }
    }
}

.bread-nav{
    @include p-absolute;
    left:60px;
    bottom:23px;
    >a{
        font-size:16px;
        &:hover{
            color:#e8c299;
            text-decoration: underline;
        }
    }
    >span{
        padding:0 16px;
    }
}

.news-list{
    border-top:1px solid #e8c299;
    padding-bottom:130px;
    min-height:350px;
    .item{
        height:165px;
        &:hover{
            background: #efe2dc;
        }

        a{
            padding:0 120px 0 100px;
            position: relative;
            z-index: 1;
            display: block;
            margin-left:175px;
        }
        .item-inner{
            width: 1200px;
            margin: 0 auto;
            padding-top: 40px;
            margin-right: 22%;
            .p-tit{
                font-size:20px;
                color:#333;
                height: 30px;
                line-height: 30px;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-bottom: 8px;
            }
            .p-mess{
                font-size:14px;
                color: #7d7d7d;
                line-height: 22px;
                height: 44px;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                word-break: break-all;
            }
            .category{
                width: 72px;
                height: 32px;
                text-align: center;
                line-height: 32px;
                position: absolute;
                z-index: 2;
                left: 0;
                top: 5px;
                background:#eec2b9;
                border-radius: 16px;
            }
        }
    }
}

.pager{
    margin-top:30px;
    .pager-inner{
        text-align: center;
        cursor: pointer;
        span{
            font-size:20px;
            display: inline-block;
            border:1px solid #d3aaa1;
            height:34px;
            line-height:34px;
            width:66px;
            color:#a29a90;
        }
        .text{
            width:112px;
            color:#333;
            margin-right:40px;
        }
        .prev,.next{
            &:hover{
                background:#d3aaa1;
            }
        }
    }
}

.content{
    position:relative;
    .sider-bar{
        width: 180px;
        position: absolute;
        right: 0;
        z-index: 110;
        top: 0;
        background:#fff;
        height:100%;
        padding-top:230px;
        border-left:1px solid #e2d3d3;

        .p-tit{
            font-size:20px;
            text-align: center;
        }
        .qr-img{
            width:124px;
            margin:0 auto;
            img{
                width:100%;
            }
            padding:12px 0;
        }
        .p-text{
            font-size:12px;
            text-align:center;
        }
        .order-btn{
            display: block;
            background:url(../images/btn-order.png) 50% 50% no-repeat;
            width:153px;
            height:117px;
            margin:30px auto;
        }
    }
}

.detail-tit{
    height:206px;
    width:100%;
    text-align: center;
    h3{
        font-size:30px;
        font-weight: normal;
        padding:76px 0 20px 0
    }
    .info{
        font-size:14px;
        .date{
            margin-left:12px;
        }
    }
}
.content-main{
    border-top: 1px solid #e8c299;
    padding-bottom: 160px;
    min-height: 350px;;
    .art-con{
        width: 1200px;
        margin: 0 auto;
        padding-top: 40px;
        margin-right: 22%;
        .art-inner{
            margin-left: 240px;
        }
    }
}

//预约弹窗
.order-pop{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:100;
    .blackbg{
        width:100%;
        height:100%;
        background:#000;
        opacity: .75;
        filter:alpha(opacity=75);
    }
    .order-pop-box{
        width:600px;
        height:340px;
        background:url('../images/pop-bg.jpg') repeat;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -170px;
        margin-left: -300px;

        .close{
            width:36px;
            height:36px;
            background:url('../images/x.png') left top no-repeat;
            position:absolute;
            right:20px;
            top:20px;
        }

        >h3{
            font-size:36px;
            color:#fff;
            font-weight: 400;
            text-align: center;
            margin-top:50px;
        }
        .mobile{
            text-align: center;
            margin-top:28px;
            input{
               width:500px;
               height:72px;
               outline: none;
               font-size:20px;
               padding:0 14px; 
            }
            .error{
                color:#c71111;
                text-align: left;
                margin-left:50px;
                height:40px;
                line-height: 40px;
            }
        }
        .btn-box{
            text-align: center;
            button{
                width:206px;
                height:56px;
                background:#543f24;
                border:0;
                color:#fff;
                font-size:18px;
                outline: none;
                &:hover{
                    background:#493316;
                }
                &:active{
                    background:#393316
                }
            }
            .cancel{
                margin-right:20px
            }
        }
    }
}
